.optionButton{
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    border: solid 1px var(--secondary-color);
}
.optionButton:focus,
.optionButton:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}